<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="refresh" content="30"/>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="style.css" rel="stylesheet"/>
    <title>P2P</title>
</head>
<body>
    <header class="page-header">
    <h1>Peer to peer Chat program</h1>
    <form method="post" th:action="@{/update?id=} + ${1}">
        <span class="usertext">You can change your username here: </span>
        <input type="text" th:value="${actualName}" th:name="changedName"/>
        <input type="submit" value="Update"/>
    </form>
    </header>
    <div class="background">
    <div class="container">
    <div class="row">
     <div class="table text-center">
        <ul th:each="temp : ${messages}" class="text-left">
            <li class="name" th:text = "${temp.username}"></li>
            <span class="message" th:text="${temp.text}"></span>
        </ul>
    </div>
    </div>
    <div class="row send">
    <form th:action="@{/send?id=} + ${1}" method="post">
        <input class="sendbox" type="text"  th:name="message"/>
        <button class="btn btn-primary g" type="submit" value="Send">
            <span class="glyphicon glyphicon-send"></span>
        </button>
    </form>
    <a href="/">Refresh</a>
    </div>
    </div>
    </div>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>